<%= simple_form_for :sessions, :url => sessions_path, method: 'POST' do |f| %>
  <h2> User Information </h2>
  <%= f.input :email, input_html: { placeholder: t('placeholder.session.email') } %>
    <h4> Shipping Address </h4>
    <%= simple_form_for :shippings, :url => shippings_path, method: 'POST' do |s| %>
      <%= s.input :street %>
      <%= s.input :city  %>
      <%= s.input :state %>
      <%= s.input :zipcode %>
    <% end %>
  <%= f.hidden_field :next_page, value: checkout_path %>
  <%= f.button :submit, 'Checkout', class:"btn btn-custom-lighten" %>
<% end %>