<div class="span3">
  <ul class="nav nav-list">
    <% if current_store.is_admin?(current_user) %>
    <li class="nav-header"><%= t('admin.self') %></li>
    <li class="<%= active == :manage ? 'active' : '' %>">
      <%= link_to 'Manage', admin_manage_path %>
    </li>
    <li class="<%= active == :dashboard ? 'active' : '' %>">
      <%= link_to t('admin.dashboard'), admin_dashboard_path %>
    </li>
    <li class="<%= active == :products ? 'active' : '' %>">
      <%= link_to t('product.collection'), admin_products_path %>
    </li>
    <li class="<%= active == :categories ? 'active' : '' %>">
      <%= link_to t('categories.self'), admin_categories_path %>
    </li>
    <% elsif current_store.is_stocker?(current_user) %>
    <li class="nav-header">Stocker</li>
    <li class="<%= active == :products ? 'active' : '' %>">
      <%= link_to t('product.collection'), stock_products_path %>
    </li>
    <% end %>
  </ul>
</div>
