<div id="checkout_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">
    <div class="span4">
      <h2 class="center">Login or Signup</h2>
      <hr>
      <%= simple_form_for :sessions, url: sessions_path, method: 'POST' do |f| %>
      <%= f.input :email %>
      <%= f.input :password %>
      <%= f.hidden_field :next_page, value: checkout_path %>
      <%= f.button :submit, t('navigation.login'), class: "btn btn-large btn-custom-lighten btn-block" %>
      <%= link_to 'Signup', signup_path(next_page: checkout_path), class: 'btn btn-block' %>
      <br />
      <%= link_to 'Checkout as Guest', checkout_path, class: 'btn btn-block' %>
      <% end %>
    </div>
    <div style="clear:both"></div>
  </div>
</div>
